<div
  fxLayout="column"
  fxLayout.gt-xs="row"
  fxLayoutAlign="start stretch"
  fxLayoutGap="20px"
>
  <div fxFlex="40%">
    <bnp-playlists-list
      *ngIf="playlists | async as loadedPlaylists else loaderTpl"
      [items]="loadedPlaylists"
      [selectedId]="(selectedId | async)"
      (selectedIdChange)="select($event)"
    ></bnp-playlists-list>
  </div>

  <div fxFlex="60%" *ngIf="selected | async as playlist">
    <bnp-playlist-details
      [playlist]="playlist"
      (edit)="editMode()"
      *ngIf=" (mode | async) == 'details' "
    ></bnp-playlist-details>

    <bnp-playlist-editor
      [playlist]="playlist"
      (cancel)="cancel()"
      (save)="savePlaylist($event)"
      *ngIf=" (mode | async)== 'editor' "
    ></bnp-playlist-editor>
  </div>
</div>

<ng-template #noPlaylistSelected>
  <p>No playlist selected</p>
</ng-template>

<ng-template #loaderTpl>
  <p>Loading...</p>
</ng-template>
