<mat-card>
  <img [src]="album.images[0].url" mat-card-image="" />

  <mat-card-header>
    <mat-card-title>
      {{ album.name }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-actions align="end">
    <button
      mat-flat-button
      color="accent"
      routerLink="/music/albums"
      [queryParams]="{ id: album.id }"
    >
      Details
    </button>
  </mat-card-actions>
</mat-card>
