<!-- <bnp-nx-welcome></bnp-nx-welcome> -->

<bnp-navigation>
  <ng-container ngProjectAs="toolbar">
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
      <button mat-button (click)="login()">Login</button>
    </div>
  </ng-container>
  <ng-container ngProjectAs="sidebar">
    <mat-nav-list>
      <a mat-list-item routerLink="/playlists">Playlists</a>
      <a mat-list-item routerLink="/music/albums/search">Search</a>
    </mat-nav-list>
  </ng-container>

  <router-outlet></router-outlet>
</bnp-navigation>

<!-- <ul>
  <ng-container ngProject>
    <li></li>
    <li></li>
  </ng-container>
</ul> -->
