<div
  fxLayout="column"
  fxLayout.gt-xs="row wrap"
  fxLayoutAlign="start stretch"
  fxLayoutGap="16px"
>
  <div
    fxFlex="100%"
    fxFlex.gt-xs="0 1 calc((100% / 4) - 18px)"
    *ngFor="let result of results"
    style="margin-bottom:16px;"
  >
    <bnp-album-card [album]="result"></bnp-album-card>
  </div>
</div>
