<mat-nav-list>
  <a
    mat-list-item
    *ngFor="let playlist of playlists; index as i; last as last"
    [class.mat-list-single-selected-option]="playlist.id == selectedId"
    (click)="select(playlist.id)"
  >
    <span matLine> {{ i + 1 }}. {{ playlist.name }} </span>
    <mat-divider *ngIf="!last"></mat-divider>
  </a>
</mat-nav-list>


{{random()}}