<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">
  
  <bnp-search-form
    [query]="query | async "
    (search)="submitSearch($event)"
  ></bnp-search-form>

  <p *ngIf="message">{{message}}</p>

  <bnp-results-grid
    *ngIf="results |async as loadedResults"
    [results]="loadedResults"
  ></bnp-results-grid>

  <!-- <bnp-results-grid *ngIf="results  " [results]="results  "></bnp-results-grid> -->
</div>
