<form [formGroup]="searchForm" (ngSubmit)="submit()">
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="32px">

    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="start center">

      <mat-form-field fxFlex="1 0 calc(100% - 64px)">
        <mat-label>Search</mat-label>
        <input type="search" matInput formControlName="query" />
        <mat-hint></mat-hint>
        <mat-error></mat-error>
      </mat-form-field>

      <button type="submit" mat-fab color="primary" aria-label="Search" fxFlex="0 0 auto">
        <mat-icon>search</mat-icon>
      </button>

    </div>
  </div>
</form>
